# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# macOS
.DS_Store
.AppleDouble

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env
.env.*
